.button {
    display: inline-block; /* Ajout de cette propriété */
    padding: 10px 20px;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid;
    border-image: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%) 1;
    border-image-slice: 1;
    transition: border-image-source 0.3s, transform 0.3s; /* Regroupement de la transition */
    animation: gradientAnimation 3s infinite;
}

.button:hover {
    transform: scale(1.1);
  }

@keyframes gradientAnimation {
    0% {
      border-image-source: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    }
    50% {
      border-image-source: radial-gradient(circle, rgba(252, 70, 107, 1) 0%, rgba(63, 94, 251, 1) 100%);
    }
    100% {
      border-image-source: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    }
  }